body {

}

header {
    display:flex;
}

.logo span {
    font-size: 24px;
    color: #f9faf8;
}

header,
.hero,
footer {
    background-color: #1f2937;
}

.menu {
    display: flex;
    justify-content: space-between;
}

.left-hero h1 {
    font-size: 48px;
    font-weight: 900;
    #f9faf8;
}

