body {
    display:flex;
    justify-content: center;
}

.wrapper{
    max-width: 1300px;
}

header {
    display:flex;
    padding: 24px;
    justify-content:space-between;
    flex:1;
}

.logo {

}

.logo img {
    max-width: 100%;
    width: 100px;
    height: auto;
}

header,
.hero,
footer {
    background-color: #1f2937;
}

.menu {
    display: flex;
    justify-content: space-between;
}

.left-hero h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.menu ul